html, body {
	min-height: 100%;
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 13px;
	min-width: 980px;
}

.content {
	width: 600px;
	margin: 0 auto;
	margin-bottom: 24px;
}

nav ul {
	float: right;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

.logo {
	padding-top: 198px;
	padding-bottom: 8px;
	margin: 0 auto;
	width: 272px;
}

.logo img{
	width: 272px;
	height: 92px;
}

.logo p {
	display: block;
	margin: 0;
	position: relative;
	bottom: 19px;
	left: 215px;
	font-family: roboto-regular, arial, sans-serif;
	color: #4285f4;
	font-size: 16px;
}

form {
	text-align: center;
}

.searchbox {
	width: 584px;
	height: 44px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	border-radius: 2px;
	background-color: #fff;
	position: relative;
	left: 15px;	
}

.searchbox:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	border: none;
}

.search {
	padding: 5px 9px 0 16px;
	width: 100%;
	height: 34px;
	line-height: 34px;
	border: none;
	background-color: transparent;
	color: #000;
	font-size: 16px;
	font-family: arial, sans-serif;
}

.buttons {
	padding-top: 21px;
}

.buttons input {
	height: 36px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-weight: bold;
	margin: 11px 2px;
	padding: 0 16px;
	font-size: 13px;
	font-family: arial, sans-serif;
	text-align: center;
}

.buttons input + input {
	padding-right: 20px;
}

.form p {
	position: relative;
	right: 2px;
	margin: 18px 0 24px;
	text-align: center;
	color: #222;
}

.form p a {
	color: #1a0dab;
	padding-left: 3px;
}

nav ul {
	margin-top: 18px;
	margin-right: 28px;
}

nav ul li {
	padding-right: 15px;
}

.login a {
	border: 1px solid #4285f4;
	background: #4285f4;
	color: #fff;
	font-weight: bold;
	cursor: default;
	padding: 7px 10px;
}

.apps a {
	background-image: url("../img/googleapps.png");
	background-size: 25px;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	opacity: .55;
}

footer {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	height: 40px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

footer a {
	color: #666;
}

.fleft li, .fright li{
	padding-left: 27px;
	line-height: 40px;
}

.fleft {
	float: left;
	margin-left: 3px;
}

.fright {
	float: right;
	margin-right: 30px;
}